<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.scroll_project_back.mapper.BoardMapper">
  
  <!-- <select id="selectList" resultType="java.util.List"> -->
  <select id="selectList" resultType="Board">
    select * from scroll_board
  </select>

  <insert id="insertBoard">
    insert into scroll_board (title, contents) value (#{title},#{contents})
  </insert>

  <update id="updateBoard" parameterType="Board">
      update scroll_board set
      title=#{title} ,
      contents=#{contents} 
    where bno = #{bno}
  </update>

  <delete id="deleteBoard">
    delete from scroll_board wehre bno=#{bno}
  </delete>
  
  
</mapper>